// resets
ul {
	padding: 0px;
}

// colours
.colBl {
	color: #0079C0;
}

.colBlTint {
	color: #E4F4FC;
}

.colCta {
	color: #F12E58;
}

.colFtr {
	color: #434243;
}

// default fonts
.h1White {
	
}

.h3White {
	
}

.h2SubHeader {
	font-weight: normal;
	font-size: 17px;
}

.h2SubHeader__link {
	margin-top: -28px;
}